.mainDiv{
    padding: 40px;
}
.mainDiv h2{
    color: #02d4f4;
;
}
.sportsBar{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sportsSelectBar{
    display: flex;
    width: 50%;
    justify-content: space-between;
    background-color: #012167;
    border-radius: 40px;
    position: relative;
}
.sportsSelectBar div{
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.capsule{
    width: 20%;
    position: absolute;
    height: 100%;
    left: 0%;
    border-radius: 40px;
    background-color: #02D4F4;
    transition: all 300ms ease-in-out;
}
.sportName{
    padding: 10px;
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    width: 33%;
    text-align: center;
}

.sportName:first-of-type{
    color: #012167;
}
.betsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.oddsGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
}

.sportsHead{
    padding: 10px;
    border-radius: 10px;
    background-color: #02D4F4;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sportsHead h3{
    margin-bottom: 0px;
    color: #012167;
    font-weight: 600;
    margin-right: 10px;
}
.sportsHead svg{
    font-size: 1.5rem;
}

.betsList .sportsField:first-child{
    margin-top: 30px;
}

.sportsField{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}



@media screen and (max-width: 480px) {
    .mainDiv{
        padding: 20px;
    }
    .sportsSelectBar{
        width: 100%;
    }
    .oddsGroup, .sportsHead{
        width: 100%;
    }
}