.mainDiv{
    position: fixed;
    bottom: 7%;
    right: 20px;
    z-index: 12;
    background-color: transparent;
}
.mainDiv img{
    width: 70px;
    height: 70px;
}
.mainDiv img:hover{
    cursor: pointer;
    width: 80px;
    height: 80px;
}